version: '3'
services:
  postges_movie_db:
    container_name: postges_movie_db
    image: postgres:13.4
    restart: always
    expose: 
      - "5432"
    volumes: 
      - ../postgres:/var/lib/postgresql/data
    env_file:
      - ./movies_admin/.env


  movies_admin:
    container_name: movies_admin
    build:
      context: .
      dockerfile: Dockerfile
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    restart: always
    expose:
      - "8000"
    env_file: 
      - ./movies_admin/.env
    volumes:
      - static_volume:/code/staticfiles
    depends_on: 
      - postges_movie_db

  nginx:
    container_name: movies_nginx
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - static_volume:/code/staticfiles
    restart: always
    ports:
      - 80:80
    depends_on:
      - movies_admin
  
  elasticsearch:
    container_name: movies_elastic
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.1
    environment:
    - discovery.type=single-node
    restart: always
    ports:
      - 9200:9200
    expose:
      - "9200"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

    
  
volumes:
  static_volume:
  elasticsearch-data:
    driver: local
